---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
import About from "../components/about.astro";
import CTA from '../components/CTA.astro';
---

<Layout title="Rivershore Trading | Industrial Supply & Maintenance">
  <main>
    <Hero />

    <About />

    <Services />

    <CTA />

    <Contact />
  </main>
</Layout>
